.film__list {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 10px;
  overflow: hidden;
  @include tablet {
    margin-bottom: 60px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include desktop {
    gap: 16px;
  }
}

.gallery__item {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  transition: all 250ms;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  &:hover .img {
    transform: scale(1.06);
  }
  &:hover .item__ptext {
    padding: 10px 15px;
    background-color: #fff;

    transform: scale(1.05);
  }

  @include tablet {
    flex-basis: calc(100% / 2 - 32px);
    margin-top: 32px;
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 16px);
  }
}

.img {
  display: block;
  max-width: 100%;
  height: 398px;
  margin-bottom: 53px;
  cursor: pointer;
  transition: all 250ms;
  @include tablet {
    height: 455px;
  }
  @include desktop {
    height: 574px;
  }
}

.item__ptext {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;

  background-color: #fff;
  border: 1px solid rgba(57, 57, 57, 0.1);
  border-top: none;

  transition: all 250ms;
}

.item__capt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  @include desktop {
    font-size: 19px;
    line-height: 1.2;
  }
}

.item__wrap {
  display: flex;
}

.item__genre {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
  @include desktop {
    font-size: 19px;
    line-height: 1.2;
  }
}

.item__rating {
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  padding: 1px, 6px, 1px, 6px;
  width: 36px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 40px;
    height: 20px;
    padding: 3px, 8px, 3px, 8px;
    margin-top: 5px;
  }
}
