.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-film,
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: rgba(255, 255, 255, 1);

  transform: translate(-50%, -50%) scale(0);
  transition: scale 1s ease-in-out;
  overflow-y: auto;

  @include mobil {
    width: 350px;
    align-items: initial;
  }
  @include tablet {
    width: 704px;
    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 36px;
  }
  @media screen and (min-width: 1024px) {
    // height: 558px;
    width: 806px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 40px;
    padding-right: 12px;
  }
}

.btn-modal-close {
  position: sticky;
  margin-left: auto;
  top: 0;

  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 200ms linear;

  &:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    transform: scale(1.1);
  }
}
.btn-modal-close__svg {
  width: 14px;
  height: 14px;
}
.modal-inner {
  position: relative;
}
.modal-film__film-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .trailer.open {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__film-card {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
}
.modal-film__img-block {
  flex-shrink: 0;
}

.film-img {
  position: relative;
  width: 240px;
  height: auto;
  border-radius: 5px;

  @include mobil {
    max-width: 160px;
    margin: auto;
  }
  @include desktop {
    & img:hover ~ .film-play {
      opacity: 1;
      visibility: visible;
    }
  }
}
.film-play {
  position: absolute;
  top: 0;
  background-color: #00000063;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  & .btn-play {
    width: 50px;
    height: 50px;
    font-size: 18px;

    background-color: rgba(255, 255, 255, 0.467);
    background-image: url(../images/play-solid.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  @include desktop {
    opacity: 0;
    visibility: hidden;
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.trailer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  &.open {
    display: flex;
    background: rgb(255, 255, 255);
    display: flex;
    & iframe {
      height: 50%;
      margin: auto;
      @include tablet {
        height: inherit;
      }
    }
  }
  & .trailer-btnBack {
    position: absolute;
    top: -30px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-color: transparent;
    background-image: url('../images/arrow-left-solid.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .film-img {
    height: 373.5px;
    width: 264px;
    margin-right: 40px;
  }
}

.modal-film__film-content {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-film__film-content {
    margin-top: 0;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .modal-film__film-content {
    margin-left: 0px;
    width: 300px;
  }
}

.modal-film__film-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.modal-film__film-data-block {
  display: flex;
  flex-direction: row;
}
.modal-film__film-data-list {
  margin-bottom: 20px;
}

.modal-film__film-data-statick-block {
  margin-right: 40px;
}
@media screen and (min-width: 1024px) {
  .modal-film__film-data-statick-block {
    margin-right: 83px;
  }
}
.modal-film__film-data {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(140, 140, 140, 1);
}

.modal-film__film-data-elem:not(:last-child) {
  margin-bottom: 8px;
}
.modal-film__about-film {
  position: relative;
  margin-bottom: 20px;
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
details > summary {
  display: inline-block;
  padding-left: 20px;
  list-style: none;

  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}
summary::-moz-list-bullet {
  list-style-type: none;
}
details > summary::marker {
  display: none;
}
details > summary::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: 0;
  color: var(--orange-text-color);
  background-color: #ffff;
  transform: rotate(0);
  transform-origin: center;
  transition: 0.2s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
  transition: transform 0.45s ease;
}

.modal-film__about {
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.modal-film__about-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;

  overflow: auto;
  @include mobil {
    position: absolute;
  }
  @include tablet {
    height: auto;
    max-height: 160px;
  }
}

details[open] > p.modal-film__about-text {
  padding-bottom: 15px;
  background-color: #fff;
  z-index: 1;
}

.modal-film__generat-data {
  color: rgba(0, 0, 0, 1);
}

.modal-film__film-data-block {
  display: flex;
  flex-direction: row;
}
.modal-film__film-data-generate-elem:not(:last-child) {
  margin-bottom: 8px;
}
.modal-film__generat-data {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}
@media screen and (min-width: 768px) {
  .modal-film__generat-data {
    line-height: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-film__generat-data {
    line-height: 16px;
  }
}

.modal-film__btn-grup {
  display: flex;
  flex-direction: row;
}

.modal-film__btn {
  width: 110px;
  height: 44px;
  border-radius: 5px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: black;

  border: 2px solid var(--orange-text-color);
  background: rgba(255, 255, 255, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(255, 107, 1, 1);
    color: white;
  }
  &[disabled] {
    border: 2px solid rgb(170, 107, 59);
    background: rgb(175, 174, 174);
    &:hover,
    &:focus {
      background: inherit;
      color: inherit;
    }
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__btn {
    width: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-film__btn {
    width: 136px;
  }
}

.accient {
  padding-right: 3px;
  padding-left: 3px;
  background: rgba(247, 247, 247, 1);
  border-radius: 10%;
  &:hover {
    background: rgba(255, 107, 1, 1);
    color: white;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

iframe {
  @include mobil {
    // display: none;
  }
}
