.footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

.heart {
  display: block;
  margin-left: 3px;
  font-size: 25px;
  color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(12, 84, 160, 1) 50%,
    rgba(255, 237, 0, 1) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  animation: heartbeat 1s infinite;
  @keyframes heartbeat {
    0% {
      transform: scale(0.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.75);
    }
  }
}

.team-modal-btn {
  color: #545454;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
