<div class="backdrop is-hidden" data-team-modal data-team-modal-close>
  <div class="team-modal">
    <button
      class="btn-team-modal-close"
      type="button"
      data-team-modal-close-btn
    >
      <svg class="btn-team-modal-close__svg">
        <use href="./images/symbol-defs.svg#icon-VectorX"></use>
      </svg>
    </button>
    <p class="team-modal__text">Team:</p>
    <p class="team-header">10 out of 10</p>
    <ul class="team-modal-leader__list list">
      <li class="team-modal-leader__item">
        <img
          src="./images/pidvysotskyi-ph.jpg"
          alt="photo"
          class="team-modal-leader__img"
        />
        <p class="team-modal-leader__name">Oleksandr Pidvysotskyi</p>
        <p class="team-modal-leader__text">Teamlead</p>
      </li>
      <li class="team-modal-leader__item">
        <img
          src="./images/maliovanyi-ph.jpg"
          alt="photo"
          class="team-modal-leader__img"
        />
        <div class="team-modal-leader__thumb">
          <p class="team-modal-leader__name">Bohdan Maliovanyi</p>
          <p class="team-modal-leader__text">Scrum master</p>
        </div>
      </li>
    </ul>
    <ul class="team-modal-dev__list list">
      <li class="team-modal-dev__item">
        <img
          src="./images/gurgu-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Pavlo Gurgu</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/hushchin-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Viktor Hushchin</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/horshkoder-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Oleksandr Horshkoder</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/panivnyk-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Dmytro Panivnyk</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/podvalnyi-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Ihor Podvalnyi</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/shperun-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Marian Shperun</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img src="./images/cat.jpg" alt="photo" class="team-modal-dev__img" />
        <p class="team-modal-dev__name">Daniil Sorokin</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/shalnov-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Ivan Shalnov</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
      <li class="team-modal-dev__item">
        <img
          src="./images/tykhonenko-ph.jpg"
          alt="photo"
          class="team-modal-dev__img"
        />
        <p class="team-modal-dev__name">Maksym Tykhonenko</p>
        <p class="team-modal-dev__text">Developer</p>
      </li>
    </ul>
  </div>
</div>
